@using Sam_LocalSuperMarket_OnlineShoppingStore1.Models

@model IEnumerable<Products>
@{
    ViewData["Title"] = "FreshFoods";

    // Retrieve the last products search from session state, or set it to an empty string if it's null
    string lastSearch = Context.Session.GetString("LastProductsSearch") ?? "";

    // Clear the last products search in session state
    Context.Session.SetString("LastProductsSearch", "");
}

<!--Creates a right floated container-->
<div style="float:inline-end" id="showSearchForm">
    <!--Creates a medium column with a width of 9/12 its parent-->
    <div class="col-md-9">
        <!--Create a form which will trigger the ShowSearchResults action event-->
        <form asp-action="ShowSearchResults">
            <div class="form-group">
                <label for="SearchPhrase">Search for:</label>
                <!-- Set the value of the search phrase input to the last products search -->
                <input name="SearchPhrase" value="@lastSearch" class="form-control" />
            </div>
            <div class="form-group">
                <!-- Create a submit button to submit the search form -->
                <input type="submit" value="Search" />
            </div>
        </form>
    </div>
</div>

<h2 class="theme-text"> Fresh Produces </h2>
<h5 class="theme-text">"Remember, fruits and veggies are the original fast food – nature's way of saying, 'Here's a snack to-go!'" 🍏🌽😄!</h5>
<hr />

<div>
    @Html.ActionLink("Back to List", "Category", "Home")
</div>

<div class="card-container row" style="display:flex; justify-content:center; align-items:center;">
    @foreach (var products in Model)
    {
        <div class="single-card card shadow m-2 text-center" style="width: 18rem; height: 20rem; object-fit:cover; background-color:lightskyblue;
                    display:flex; justify-content:center; align-items:center;">
            <div>
                @if (products.ItemName == "Carrots")
                {
                    <img src="~/ImageItem/FreshFoods1.jpg" style="width:150px; height:150px; object-fit:cover;
                            display:flex; justify-content:center;align-items:center;" class="product-image" />
                    <h5>@products.ItemName</h5>
                    <h6>@products.Unit | $@products.Price</h6>
                    <a id="btnCreate" class="add-item-button btn btn-success" value="@products.Id">Add To Cart</a>
                }
                else if (products.ItemName == "Cucumber")
                {
                    <img src="~/ImageItem/FreshFoods2.jpg" style="width:150px; height:150px; object-fit:cover;
                            display:flex; justify-content:center;align-items:center;" class="product-image" />
                    <h5>@products.ItemName</h5>
                    <h6>@products.Unit | $@products.Price</h6>
                    <a id="btnCreate" class="add-item-button btn btn-success" value="@products.Id">Add To Cart</a>
                }
                else if (products.ItemName == "Fresh Tomato")
                {
                    <img src="~/ImageItem/FreshFoods3.jpg" style="width:150px; height:150px; object-fit:cover;
                            display:flex; justify-content:center;align-items:center;" class="product-image" />
                    <h5>@products.ItemName</h5>
                    <h6>@products.Unit | $@products.Price</h6>
                    <a id="btnCreate" class="add-item-button btn btn-success" value="@products.Id">Add To Cart</a>
                }
                else if (products.ItemName == "Granny Smith's Apples")
                {
                    <img src="~/ImageItem/FreshFoods4.jpg" style="width:150px; height:150px; object-fit:cover;
                            display:flex; justify-content:center;align-items:center;" class="product-image" />
                    <h5>@products.ItemName</h5>
                    <h6>@products.Unit | $@products.Price</h6>
                    <a id="btnCreate" class="add-item-button btn btn-success" value="@products.Id">Add To Cart</a>
                }
                else if (products.ItemName == "Iceberg Lettuce")
                {
                    <img src="~/ImageItem/FreshFoods5.jpg" style="width:150px; height:150px; object-fit:cover;
                            display:flex; justify-content:center;align-items:center;" class="product-image" />
                    <h5>@products.ItemName</h5>
                    <h6>@products.Unit | $@products.Price</h6>
                    <a id="btnCreate" class="add-item-button btn btn-success" value="@products.Id">Add To Cart</a>
                }
                else if (products.ItemName == "Red Onion")
                {
                    <img src="~/ImageItem/FreshFoods6.jpg" style="width:150px; height:150px; object-fit:cover;
                            display:flex; justify-content:center;align-items:center;" class="product-image" />
                    <h5>@products.ItemName</h5>
                    <h6>@products.Unit | $@products.Price</h6>
                    <a id="btnCreate" class="add-item-button btn btn-success" value="@products.Id">Add To Cart</a>
                }
                else if (products.ItemName == "Red Potato Washed")
                {
                    <img src="~/ImageItem/FreshFoods7.jpg" style="width:150px; height:150px; object-fit:cover;
                            display:flex; justify-content:center;align-items:center;" class="product-image" />
                    <h5>@products.ItemName</h5>
                    <h6>@products.Unit | $@products.Price</h6>
                    <a id="btnCreate" class="add-item-button btn btn-success" value="@products.Id">Add To Cart</a>
                }
                else if (products.ItemName == "Red Tipped Bananas")
                {
                    <img src="~/ImageItem/FreshFoods8.jpg" style="width:150px; height:150px; object-fit:cover;
                            display:flex; justify-content:center;align-items:center;" class="product-image" />
                    <h5>@products.ItemName</h5>
                    <h6>@products.Unit | $@products.Price</h6>
                    <a id="btnCreate" class="add-item-button btn btn-success" value="@products.Id">Add To Cart</a>
                }
                else if (products.ItemName == "Watermelon")
                {
                    <img src="~/ImageItem/FreshFoods9.jpg" style="width:150px; height:150px; object-fit:cover;
                            display:flex; justify-content:center;align-items:center;" class="product-image" />
                    <h5>@products.ItemName</h5>
                    <h6>@products.Unit | $@products.Price</h6>
                    <a id="btnCreate" class="add-item-button btn btn-success" value="@products.Id">Add To Cart</a>
                }
            </div>
        </div>
    }
</div>

<script src="~/js/products.js" asp-append-version="true"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
